input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 300
        repeat-rate 45
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        // defaults
        accel-speed -0.7
    }

    trackpoint {
        // defaults
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}
