spawn-sh-at-startup "waybar"
spawn-at-startup "zen"
spawn-sh-at-startup "sleep 0.75; niri msg action focus-workspace 1"
spawn-at-startup "activate-linux"
spawn-sh-at-startup "systemctl --user start hyprpolkitagent"
spawn-sh-at-startup "clipse -listen"
spawn-at-startup "swww-daemon"
spawn-sh-at-startup "swww restore"
spawn-sh-at-startup "vicinae server"
hotkey-overlay {
  skip-at-startup
}

/*window-rule {
  match at-startup=true app-id="zen-beta"
  open-on-workspace "1"
}

window-rule {
  match at-startup=true app-id="spotify"
  open-on-workspace "2"
  open-maximized true
}

window-rule {
  match at-startup=true app-id="vesktop"
  open-on-workspace "3"
  open-maximized true
}*/
