binds {
    Mod+B hotkey-overlay-title="Open Zen Browser" { spawn "zen-beta"; }
    Mod+Alt+B hotkey-overlay-title="Open Zen Browser (bellarmine profile)" { spawn-sh "zen-beta -p bellarmine"; }
    Mod+Shift+B hotkey-overlay-title="Open System Monitor (btop)" { spawn "foot" "btop"; }
    Mod+D hotkey-overlay-title="Close Focused Window" { close-window; }
    Mod+Shift+D hotkey-overlay-title="Quit Niri Session" { quit; }
    Mod+E hotkey-overlay-title="Open File Manager (Yazi)" { spawn "foot" "yazi"; }
    Mod+M hotkey-overlay-title="Open Spotify" { spawn "spotify"; }
    Mod+Shift+M hotkey-overlay-title="Show Current Track Notification" {
        spawn-sh "dms ipc call dash open media";
    }
    Mod+N hotkey-overlay-title="Open Nix Packages Browser" {
        spawn-sh "vicinae vicinae://extensions/knoopx/nix/packages";
    }
    Mod+Shift+N hotkey-overlay-title="Toggle Notification Center" {
        spawn-sh "dms ipc call notifications open";
    }
    Mod+O hotkey-overlay-title="Lock Screen" { spawn "hyprlock"; }
    Mod+Shift+O { spawn "obs"; }
    Mod+P hotkey-overlay-title="Pick Color from Screen" { spawn "hyprpicker"; }
    Mod+R hotkey-overlay-title="Switch Column Width Preset" { switch-preset-column-width; }
    Mod+Shift+R hotkey-overlay-title="Switch Window Height Preset" { switch-preset-window-height; }
    Mod+Ctrl+R hotkey-overlay-title="Reset Window Height" { reset-window-height; }
    Mod+S hotkey-overlay-title="Open DMS settings" {
        spawn-sh "dms ipc call settings toggle";
    }
    Mod+Shift+S hotkey-overlay-title="Take Screenshot" { screenshot; }
    Mod+T hotkey-overlay-title="Toggle Floating Window" { toggle-window-floating; }
    Mod+V hotkey-overlay-title="Toggle Window Overview" { toggle-overview; }
    Mod+Shift+V hotkey-overlay-title="Open Vesktop (Discord)" { spawn "vesktop"; }
    Mod+W hotkey-overlay-title="Open Wallpaper Picker" { spawn "./tofiWall.sh"; }
    Mod+X hotkey-overlay-title="Open Logout Menu" {
        spawn-sh "dms ipc call powermenu toggle";
    }
    Mod+Return hotkey-overlay-title="Open Terminal (foot)" { spawn "foot"; }
    Mod+End hotkey-overlay-title="Play / Pause Media" { spawn-sh "playerctl play-pause"; }
    Mod+Home hotkey-overlay-title="Next Media Track" { spawn-sh "playerctl next"; }
    Mod+Delete hotkey-overlay-title="Previous Media Track" { spawn-sh "playerctl previous"; }
    Mod+Shift+Slash hotkey-overlay-title="Show Hotkey Overlay" { show-hotkey-overlay; }
    Mod+Space hotkey-overlay-title="Toggle App Launcher" { spawn "vicinae" "toggle"; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }
    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+Prior { focus-column-first; }
    Mod+Next { focus-column-last; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+U { move-column-to-workspace-down; }
    Mod+Shift+I { move-column-to-workspace-up; }
    Mod+Shift+Prior { move-column-to-first; }
    Mod+Shift+Next { move-column-to-last; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+F { maximize-column; }
    Mod+Shift+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
}
