binds {
    Mod+B { spawn "zen"; }
    Mod+Shift+B { spawn "kitty" "btop"; }
    Mod+D { close-window; }
    Mod+Shift+D { quit; }
    Mod+E { spawn "kitty" "yazi"; }
    Mod+M { spawn "spotify"; }
    Mod+Shift+M { spawn-sh "notify-send \"$(playerctl metadata --format \"{{ title }} - {{ artist }}\")\""; }
    Mod+N { spawn-sh "vicinae vicinae://extensions/knoopx/nix/packages"; }
    //Mod+Shift+N { spawn-sh "dms ipc call night toggle"; }
    Mod+O { spawn "hyprlock"; }
    Mod+P { spawn "hyprpicker"; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+S { spawn-sh "gammastep -O 3000"; }
    Mod+Shift+S { screenshot; }
    Mod+T { toggle-window-floating; }
    Mod+V { toggle-overview; }
    Mod+Shift+V { spawn "vesktop"; }
    Mod+W { spawn-sh "vicinae vicinae://extensions/sovereign/awww-switcher/wpgrid"; }
    Mod+Shift+W { spawn-sh "pkill waybar; waybar"; }
    Mod+Return { spawn "kitty"; }
    Mod+End { spawn-sh "playerctl play-pause"; }
    Mod+Home { spawn-sh "playerctl next"; }
    Mod+Delete { spawn-sh "playerctl previous"; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Space { spawn "vicinae" "toggle"; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }
    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+Prior { focus-column-first; }
    Mod+Next { focus-column-last; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+U { move-column-to-workspace-down; }
    Mod+Shift+I { move-column-to-workspace-up; }
    Mod+Shift+Prior { move-column-to-first; }
    Mod+Shift+Next { move-column-to-last; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+F { maximize-column; }
    Mod+Shift+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
}
