layout {
    gaps 8
    focus-ring {
        off
        active-color "#d7a475"
        inactive-color "#ffffff"
        width 2
    }

    border {
        on
        width 2
        active-color "#d7a475"
        inactive-color "#231e1a"
        urgent-color "#bd6b20"
    }

    shadow {
        off
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    always-center-single-column
}
