layout {
    gaps 8
    focus-ring {
        off
        active-color "#e5c8a5"
        inactive-color "#ffffff"
        width 2
    }

    border {
        on
        width 2
        active-color "#e5c8a5"
        inactive-color "#231f1a"
        urgent-color "#fd4663"
    }

    shadow {
        off
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    always-center-single-column
}
