layout {
    gaps 6
    focus-ring {
        off
        active-color "#ffb68b"
        inactive-color "#ffffff"
        width 2
    }

    border {
        on
        width 2
        active-color "#ffb68b"
        inactive-color "#1a120d"
        urgent-color "#ffb4ab"
    }

    shadow {
        off
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    always-center-single-column
}
