include "autostart.kdl"
include "binds.kdl"
include "lookandfeel.kdl"
include "input.kdl"
include "colors.kdl"
include "windows.kdl"
include "animations.kdl"
include "dms/binds.kdl"
//include "dms/layout.kdl"
