input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 300
        repeat-rate 45
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-speed -0.7
    }

    trackpoint {
    }
}
