workspace "1"
workspace "2"
workspace "3"

window-rule{
  match is-active=true
  opacity 0.95
}

window-rule{
  match is-active=false
  opacity 0.85
}

window-rule {
    draw-border-with-background false
}

layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

layout {
  background-color "transparent"
}

overview {
  workspace-shadow {
    off
  }
}

window-rule {
  background-effect {
    blur true
  }
}
