workspace "1"
workspace "2"
workspace "3"

window-rule {
  match is-active=true
  opacity 0.95
}

window-rule {
  match is-active=false
  opacity 0.85
}


window-rule {
    draw-border-with-background false
}

window-rule {
  match app-id="org.quickshell"
  open-floating true
}
