* {
    background-image: none;
    font-size: 12px;
}

@import "colors.css";

window {
    background-color: transparent;
}

button {
    color: @on_surface;
    background-color: alpha(@surface_container, 0.85);
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @secondary;
    background-size: 30%;
    border-radius: 10px;
}

button:hover {
    background-color: @secondary;
    background-size: 40%;
    border-radius: 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 10px;
    margin : 2px 0px 2px 2px;
}

button:hover#logout {
    border-radius: 10px;
    margin : 2px 0px 2px 0px;
}

button:hover#suspend {
    border-radius: 10px;
    margin : 2px 0px 2px 0px;
}

button:hover#shutdown {
    border-radius: 10px;
    margin : 2px 0px 2px 0px;
}

button:hover#hibernate {
    border-radius: 10px;
    margin : 2px 0px 2px 0px;
}

button:hover#reboot {
    border-radius: 10px;
    margin : 2px 2px 2px 0px;
}

#lock {
    background-image: image(url("./icons/lock_white.png"));
    border-radius: 10px 0px 0px 10px;
    margin : 2px 0px 2px 2px;
}

#logout {
    background-image: image(url("./icons/logout_white.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 2px 0px 2px 0px;
}

#suspend {
    background-image: image(url("./icons/suspend_white.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 2px 0px 2px 0px;
}

#shutdown {
    background-image: image(url("./icons/shutdown_white.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 2px 0px 2px 0px;
}

#hibernate {
    background-image: image(url("./icons/hibernate_white.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 2px 0px 2px 0px;
}

#reboot {
    background-image: image(url("./icons/reboot_white.png"));
    border-radius: 0px 10px 10px 0px;
    margin : 2px 2px 2px 0px;
}

#lock:focus,
#logout:focus,
#suspend:focus,
#shutdown:focus,
#hibernate:focus,
#reboot:focus {
    border-radius: 10px; /* or whatever you want for focus */
}
